
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="keywords"
	content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3" />
<meta name="description" content="" />
<meta name="author" content="ThemeBucket" />

<title><sitemesh:write property='title' />-后台管理系统</title>

<!--icheck-->
<link
	th:href="@{/resources/plugins/AdminEx/js/iCheck/skins/minimal/minimal.css}"
	rel="stylesheet" />
<link
	th:href="@{/resources/plugins/AdminEx/js/iCheck/skins/square/square.css}"
	rel="stylesheet" />
<link
	th:href="@{/resources/plugins/AdminEx/js/iCheck/skins/square/red.css}"
	rel="stylesheet" />
<link
	th:href="@{/resources/plugins/AdminEx/js/iCheck/skins/square/blue.css}"
	rel="stylesheet" />

<!--dashboard calendar-->
<link th:href="@{/resources/plugins/AdminEx/css/clndr.css}"
	rel="stylesheet" />

<!--Morris Chart CSS -->
<link rel="stylesheet"
	th:href="@{/resources/plugins/AdminEx/js/morris-chart/morris.css}" />

<!--common-->
<link th:href="@{/resources/plugins/AdminEx/css/style.css}"
	rel="stylesheet" />
<link th:href="@{/resources/plugins/AdminEx/css/style-responsive.css}"
	rel="stylesheet" />




<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script th:src="@{/js/html5shiv.js"></script>
  <script th:src="@{/js/respond.min.js"></script>
  <![endif]-->
 <sitemesh:write property='head' />
</head>

<body class="sticky-header">

	<section>
		<!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<a th:href="@{/index}"><img
					th:src="@{/resources/plugins/AdminEx/images/logo.png}" alt="" /></a>
			</div>

			<div class="logo-icon text-center">
				<a th:href="@{/index}"><img
					th:src="@{/resources/plugins/AdminEx/images/logo_icon.png}" alt="" /></a>
			</div>
			<!--logo and iconic logo end-->

			<div class="left-side-inner">

				<!-- visible to small devices only -->
				<div class="visible-xs hidden-sm hidden-md hidden-lg">
					<div class="media logged-user">
						<img alt=""
							th:src="@{/resources/plugins/AdminEx/images/photos/user-avatar.png}"
							class="media-object" />
						<div class="media-body">
							<!--    <h4><a th:href="#">John Doe</a></h4> -->
							<span>"Hello There..."</span>
						</div>
					</div>

					<h5 class="left-nav-title">Account Information</h5>
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
						<li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
						<li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign
									Out</span></a></li>
					</ul>
				</div>

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li class="active"><a th:href="@{folwSetup}"><i
							class="fa fa-laptop"></i> <span>手机流量设置</span></a></li>
					<li><a th:href="@{/oaman/project}"><i class="fa fa-book"></i>
							<span>项目</span></a></li>
					<li><a href=""><i class="fa fa-cogs"></i> <span>审批</span></a>
					</li>
					<li><a th:href="@{/oaman/mail}"><i class="fa fa-envelope"></i>
							<span>邮箱</span></a></li>
					<li><a th:href="@{/oaman/fileManager}"><i
							class="fa fa-tasks"></i> <span>文档</span></a></li>
					<li><a th:href="@{/oaman/contacts}"><i
							class="fa fa-bar-chart-o"></i> <span>通讯录</span></a></li>

					<li><a th:href="@{/oaman/calendar}"><i
							class="fa fa-th-list"></i> <span>日程</span></a></li>

					<li><a href=""><i class="fa fa-file-text"></i> <span>权限管理</span></a></li>

					<li><a th:href="@{/oaman/category}"><i
							class="fa fa-file-text"></i> <span>数据管理</span></a></li>

				</ul>
				<!--sidebar nav end-->

				<!--sidebar nav end-->

			</div>
		</div>
		<!-- left side end-->

		<!-- main content start-->
		<div class="main-content">

			<!-- header section start-->
			<div class="header-section">

				<!--toggle button start-->
				<a class="toggle-btn"><i class="fa fa-bars"></i></a>
				<!--toggle button end-->

				<!--search start-->
				<form class="searchform" action="index.html" method="post">
					<input type="text" class="form-control" name="keyword"
						placeholder="Search here..." />
				</form>
				<!--search end-->


				<!--notification menu end -->

			</div>
			<!-- header section end-->

			<!-- page heading start-->
			
			<!-- page heading end-->

			<!--body wrapper start-->
			<div class="wrapper">

				<sitemesh:write property='body' />

			</div>
			<div id="loadingDiv">
				<div class="loadingtext">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>加载中。。。
				</div>
			</div>
			<!--body wrapper end-->

			<!--footer section start-->
			<footer> 2014 &copy; AdminEx by ThemeBucket </footer>
			<!--footer section end-->


		</div>
		<!-- main content end-->
	</section>

	<!-- Placed js at the end of the document so the pages load faster -->
	<script th:src="@{/resources/plugins/AdminEx/js/jquery-1.10.2.min.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/jquery-ui-1.9.2.custom.min.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/jquery-migrate-1.2.1.min.js}"></script>
	<script th:src="@{/resources/plugins/AdminEx/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/plugins/AdminEx/js/modernizr.min.js}"></script>
	<script th:src="@{/resources/plugins/AdminEx/js/jquery.nicescroll.js}"></script>

	<!--easy pie chart-->
	<script
		th:src="@{/resources/plugins/AdminEx/js/easypiechart/jquery.easypiechart.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/easypiechart/easypiechart-init.js}"></script>

	<!--Sparkline Chart-->
	<script
		th:src="@{/resources/plugins/AdminEx/js/sparkline/jquery.sparkline.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/sparkline/sparkline-init.js}"></script>

	<!--icheck -->
	<script
		th:src="@{/resources/plugins/AdminEx/js/iCheck/jquery.icheck.js}"></script>
	<script th:src="@{/resources/plugins/AdminEx/js/icheck-init.js}"></script>

	<!-- jQuery Flot Chart-->
	<script
		th:src="@{/resources/plugins/AdminEx/js/flot-chart/jquery.flot.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/flot-chart/jquery.flot.tooltip.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/flot-chart/jquery.flot.resize.js}"></script>


	<!--Morris Chart-->
	<script
		th:src="@{/resources/plugins/AdminEx/js/morris-chart/morris.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/morris-chart/raphael-min.js}"></script>

	<!--Calendar-->
	<script th:src="@{/resources/plugins/AdminEx/js/calendar/clndr.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/calendar/evnt.calendar.init.js}"></script>
	<script
		th:src="@{/resources/plugins/AdminEx/js/calendar/moment-2.2.1.js}"></script>
	<script
		th:src="@{http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js}"></script>

	<!--common scripts for all pages-->
	<script th:src="@{/resources/plugins/AdminEx/js/scripts.js}"></script>

	<!--Dashboard Charts-->
	<script
		th:src="@{/resources/plugins/AdminEx/js/dashboard-chart-init.js}"></script>


</body>
</html>
